# Visual Studio 生成的 .clang-format 文件

{ BasedOnStyle: LLVM, UseTab: Never, IndentWidth: 4, BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 200, TabWidth: 4, AllowShortFunctionsOnASingleLine: false}
